.section{
  background-color: #fff;
  border: 1px solid black;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
}
<<<<<<< HEAD

.send{
  float: right;
}
=======
>>>>>>> 47e64ecc87b4928693873cb54719a2e61f22de89
