.copyright{
  background-color: #2bbbad;
  text-align: center;
  color: white;
  padding: 5px;
}

.footer1{
  background-color: #333333;
  color: white;
  padding: 100px;
}

.footerIcon{
    margin-bottom: 20px;
    background-color: #2bbbad;
}

.marginIcon{
  margin-left: 25px;
}

.infoFooter{
  text-align: center;
}

.infoFooter{

  font-family: 'Lalezar', cursive;

}
