.copyright{
  background-color: #5b5b5b;
  text-align: center;
  color: white;
  padding: 5px;
}

.footer1{
  background-color: #333333;
  color: white;
  padding: 100px;

<<<<<<< HEAD
}

.footerIcon{
    margin-bottom: 20px;
    background-color: #5b5b5b;
}

.marginIcon{
  margin-left: 25px;
}

.infoFooter{
  text-align: center;
}

.infoFooter{

  font-family: 'Lalezar', cursive;

}

.miejsceNaLogo{
  margin-top: 20px;
  color: #5b5b5b;
=======
}

.footerIcon{
    margin-bottom: 20px;
    background-color: #5b5b5b;
}

.marginIcon{
  margin-left: 25px;
}

.infoFooter{
  text-align: center;
}

.infoFooter{

  font-family: 'Lalezar', cursive;

}

.footerLogo{
  border: solid #5b5b5b 3px;
  width: 200px;
>>>>>>> fed7189dd79fda8930cebf184c1540f83901728c
}
